body {
    background-color: #C2D8D5;
    font-family: tahoma;
}

/*----------------- Top Bar ---------------------*/
.class-1 {
    background-color: #405D9B;
    color: #D9DFEB;
    height: 50px;
}

.class-2 {
    font-size: 30px;
    margin: auto;
    width: 800px;
}

.class-3 {
    background-image: url(../img/search.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 20px;
    padding: 4px;
    width: 400px;
}

.class-4 {
    float: right;
    width: 50px;
}

.class-a {
    color: #FFF;
    text-decoration: none;
}

.class-b {
    color: #FFF; 
    float: right; 
    font-size: 11px; 
    margin: 10px;
}

/*----------------- Cover Area ---------------------*/
.class-5 {
    margin: auto;
    min-height: 400px;
    width: 800px;
}

.class-6 {
    background-color: #FFF;
    color: #405d9b;
    text-align: center;
}

.class-7 {
    width: 100%;
}

.class-8 {
    border: solid 2px #FFF;
    border-radius: 50%;
    margin-top: -125px;
    width: 150px;
}

.class-c {
    font-size: 10px;
    text-decoration: none;
}

.class-d {
    color: #F0F;
    text-decoration: none;
}

.class-9 {
    font-size: 20px;
}

.class-10 {
    display: inline-block;
    margin: 2px;
    width: 100px;
}

/*----------------- Below Cover Area ---------------------*/
.class-11 {
    display: flex;
}

.class-12 {
    flex: 1;
    min-height: 400px;
}

.class-13 {
    flex: 2.5;
    min-height: 400px;
    padding: 20px;
    padding-right: 0px;
}

/*----------------- Friends Area ---------------------*/
.class-14 {
    background-color: #FFF;
    color: #405D9B;
    font-size: 20px;
    margin-top: 20px;
    min-height: 400px;
    padding: 8px;
    text-align: center;
}

.class-15 {
    clear: both;
    color: #405d9b;
    font-size: 12px;
    font-weight: bold;
}

.class-16 {
    float: left;
    margin: 8px;
    width: 75px;
}

/*----------------- Posting Area ---------------------*/
.class-17 {
    background-color: #FFF;
    border: solid thin #AAA;
    padding: 10px;
}

.class-18 {
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 60px;
    width: 100%;
}

.class-19 {
    background-color: #405D9B;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-size: 14px;
    float: right;
    padding: 4px;
}

/*----------------- Posts Area ---------------------*/
.class-20 {
    background-color: #CDCDCD;
    margin-top: 20px;
    padding: 10px;
}

.class-21 {
    background-color: #FFF;
    display: flex;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 4px;
}

.class-22 {
    margin: 4px;
    width: 75px;
}

.class-23 {
    color: #405D9B;
    font-weight: bold;
}

.class-24 {
    color: #999;
}


/*----------------- Timeline - User Area ---------------------*/

.class-25 {
    border: solid 2px #FFF;
    border-radius: 50%;
    width: 150px;
}

.class-26 {
    text-decoration: none;
}